*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

html, body { 
    margin: 0; 
    padding: 0; 
    width: 100%; 
    height: 100%;
}

/* Header */

.header__container {
    display: flex;
    height: 450px;
    /* justify-content: space-between;
    align-items: center; */
}

.header__left__container {
    position: relative;
    width: 65%;
}

.header__decorator {
    height: 100%;
    width: 400px;
    background-color: #272829;
}

.header__flex__container {
    background-color: #FCDC15;
    height: 180px;
    width: 700px;
    position: absolute;
    left: 120px;
    top: 100px;
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.header__name {
    color: #272829;
    font-size: 80px;
    font-weight: 500;
    letter-spacing: 5px;
}

.header__role {
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 3px;
}

.header__role::after {
    height: 3px;
    width: 100px;
    background-color: #272829;
    position: absolute;
    bottom: 75px;
    right: 200px;
    opacity: 0.7;
    content: "";
}

.header__right {
    background-color: #272829;
    height: inherit;
    width: 35%;
}


.profile__img__container {
    display: flex;
    align-items: center;
    height: 230px;
    width: 350px;
    padding: 20px;
    padding-left: 40px;
    border: 5px solid #FCDC15;
    border-left: none;
    position: absolute;
    top: 100px;
}

.profile__img {
    height: 230px;
    width: 230px;
    object-fit: cover;
    border-radius: 50%;
}
/* ########################### */
.below__part__container {
    height: 1000px;
    display: flex;
    justify-content: space-between;

}


.yellow__decorator {
    height: 100%;
    width: 50px;
    background-color: #FCDC15;
}

/* ############################ */

.content__part__container {
    display: flex;
    flex-direction: column;
    gap: 60px;
    /* background-color: red; */
    margin-top: 50px;
}

/* Profile Section */

.profile__section__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.profile__container {
    width: 800px;
    
}

.sub__heading {
    font-size: 28px;
    letter-spacing: 3px;
    padding: 5px 0px;
    border-bottom: 2px solid #272829;
}

.profile__content {
    text-align: justify;
    font-size: 18px;
    font-weight: 500;
    line-height: 36px;
}

/* Project Section  */

.project__container {
    display: flex;
    gap: 50px;
    margin: 36px 0px;
}

.bullet {
    display: flex;

}

.bullet__square{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 800;
    height: 40px;
    width: 40px;
    background-color: #272829;
}

.bullet__triangle {
    width: 0; 
    height: 0; 
    border-top:20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #272829;
}

.project__detail__container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.project__title {
    font-size: 21px;
    font-weight: 600;
    letter-spacing: 2px;
}

.project__description{
    font-size: 18px;
    color: #272829;
}

.project__link {
    font-size: 16px;
    color: #272829;
    font-weight: 600;
    text-decoration: none;
}


/* Internship Section  */

.internship__container {
    display: flex;
    gap: 50px;
    margin:  36px 0px;
}

.internship__date {
    font-size: 20px;
    color: #272829;
    opacity: 0.7;
    font-weight: 500;
}

.internship__detail__container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.intern__role {
    font-size: 22px;
    font-weight: 700;
}

.intern__company {
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
}

.intern__desc {
    font-size: 14px;
}

/* Education Section  */

.education__container {
    display: flex;
    gap: 50px;
    margin: 36px 0px;
}

.education__year {
    font-size: 30px;
    font-weight: 500;
    transform: rotate(-90deg);
    opacity: 0.8;
}


.education__partition {
    /* padding: 2px; */
    margin-left: -80px;
    height: inherit;
    width: 2px;
    background-color: #272829;
    opacity: 0.8;
}

.education__details__container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.education__desc {
    font-size: 21px;
    font-weight: 700;
}

.education__institution {
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
}

.education__score {
    font-size: 14px;
    opacity: 0.7;
}




/* Aside Part  */

.aside__container {
    background-color: #272829;
    width: 532px;
    height: 100%;
}

.aside__part__heading__container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.aside__heading {
    font-size: 20px;
    color: #FCDC15;
    letter-spacing: 8px;
    border-top: 3px solid #B8B9BD;
    border-bottom: 3px solid #B8B9BD;
    padding: 8px 0px ;
}

.aside__header__deco__element__rgt {
    height: 50px;
}

.aside__header__deco__element__left {
    height: 50px;
    transform: rotate(180deg);
}

/* Contact Section  */

.contact__section__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 36px 0px;
}

.contacts__container {
    /* width: 100%; */
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    gap: 38px;
}

.contact__detail {
    display: flex;
    gap: 20px;
    align-items: center;
}

.contact__icon {
    color: #FCDC15;
    font-size: 34px;
}

.contact__link {
    width: 300px;
    font-size: 22px;
    font-weight: 300;
    text-decoration: none;
    color: white;
}

.contact__link:hover {
    font-weight: 500;
    transition-duration: 0.5s;
    transition: ease-in;
}

