*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

/* Header */

.header__container {
    display: flex;
    height: 450px;
}

.header__left__container {
    position: relative;
    width: 65%;
}

.header__decorator {
    height: 100%;
    width: 40%;
    background-color: #272829;
}

.header__flex__container {
    background-color: #FCDC15;
    height: 40%;
    width: 70%;
    position: absolute;
    left: 15%;
    top: 25%;
    padding: 4%;
   
}

.header__details__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.header__name {
    color: #272829;
    font-size: 4vw;
    font-weight: 500;
    letter-spacing: 5px;
}

.header__role__container {
    display: flex;
    align-items: center;
    gap: 3vw;
}

.header__role {
    font-size: 1.8vw;
    font-weight: 400;
    letter-spacing: 3px;
    display: flex;
    align-items: center;
}

.header__role__decorator {
    height: 3px;
    width: 15%;
    background-color: #272829;
    opacity: 0.7;    
}

.header__right {
    position: relative;
    background-color: #272829;
    height: 100%;
    width: 35%;
}

.profile__img__container {
    display: flex;
    align-items: center;
    height: 40%;
    width: 60%;
    padding: 6%;
    padding-left: 8%;
    border: 5px solid #FCDC15;
    border-left: none;
    position: absolute;
    top: 25%;
}

.profile__sm__img {
    display: none;
}

.profile__img {
    height: 230px;
    width: 230px;
    object-fit: cover;
    border-radius: 50%;
}
/* ########################### */

.below__part__left {
    width: 62%;
    display: flex;
    gap: 7vw;
    
}
.below__part__container {
    height: 1600px;
    display: flex;
    justify-content: space-between;
    /* gap: 20px; */

}


.yellow__decorator {
    height: 100%;
    width: 50px;
    background-color: #FCDC15;
}

/* ############################ */

.content__part__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 60px;
    /* background-color: red; */
    margin-top: 50px;
}

/* Profile Section */

.profile__section__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: end; */
}

.profile__container {
    /* width: 800px; */
    
}

.sub__heading {
    font-size: 1.8vw;
    letter-spacing: 3px;
    padding: 5px 0px;
    border-bottom: 2px solid #272829;
}

.profile__content {
    margin-top: 20px;
    text-align: justify;
    font-size: 1.2vw;
    font-weight: 500;
    line-height: 3vw;
    /* max-width: 800px; */
}

/* Project Section  */

.project__container {
    display: flex;
    gap: 50px;
    margin: 36px 0px;
}

.bullet {
    display: flex;

}

.bullet__square{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1vw;
    font-weight: 800;
    height: 3vw;
    width: 3vw;
    background-color: #272829;
}

.bullet__triangle {
    width: 0; 
    height: 0; 
    border-top: 1.55vw solid transparent;
    border-bottom: 1.55vw solid transparent;
    border-left: 1.55vw solid #272829;
}

.project__detail__container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.project__title {
    font-size: 1.4vw;
    font-weight: 600;
    letter-spacing: 2px;
}

.project__description{
    font-size: 1.2vw;
    color: #272829;
}

.project__link {
    font-size: 1.1vw;
    color: #272829;
    font-weight: 600;
    text-decoration: none;
}


/* Internship Section  */

.internship__container {
    display: flex;
    gap: 50px;
    margin:  36px 0px;
}

.internship__date {
    font-size: 1.3vw;
    color: #272829;
    opacity: 0.7;
    font-weight: 500;
}

.internship__detail__container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.intern__role {
    font-size: 1.5vw;
    font-weight: 700;
}

.intern__company {
    font-size: 1.2vw;
    font-style: italic;
    font-weight: 500;
}

.intern__desc {
    font-size: 1.1vw;
}

/* Education Section  */

.education__container {
    display: flex;
    gap: 50px;
    margin: 36px 0px;
}

.education__year {
    font-size: 1.8vw;
    font-weight: 500;
    transform: rotate(-90deg);
    opacity: 0.8;
}


.education__partition {
    margin-left: -5vw;
    height: inherit;
    width: 2px;
    background-color: #272829;
    opacity: 0.8;
}

.education__details__container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.education__desc {
    font-size: 1.4vw;
    font-weight: 700;
}

.education__institution {
    font-size: 1.2vw;
    font-style: italic;
    font-weight: 400;
}

.education__score {
    font-size: 1vw;
    opacity: 0.7;
}




/* Aside Part  */

.aside__container {
    background-color: #272829;
    width: 35%;
    height: 100%;
}

.aside__part__heading__container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.aside__heading {
    font-size: 1.6vw;
    color: #FCDC15;
    letter-spacing: 8px;
    border-top: 3px solid #B8B9BD;
    border-bottom: 3px solid #B8B9BD;
    padding: 6px 0px ;
}

.aside__header__deco__element__rgt {
    height: 3vw;
}

.aside__header__deco__element__left {
    height: 3vw;
    transform: rotate(180deg);
}

/* Contact Section  */

.contact__section__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 36px 0px;
}

.contacts__container {
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    gap: 38px;
}

.contact__detail {
    display: flex;
    gap: 20px;
    align-items: center;
}

.contact__icon {
    color: #FCDC15;
    font-size: 2.2vw;
}

.contact__link {
    width: 18vw;
    font-size: 1.4vw;
    font-weight: 300;
    text-decoration: none;
    color: white;
}

.contact__link:hover {
    font-weight: 500;
    transition-duration: 0.5s;
    transition: ease-in;
}


/* Skills  Section  */

.skills__section__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 36px 0px;
}

.skills__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px 0px;
}

.skill {
    width: 10vw;
    text-align: center;
    border-radius: 5px;
    font-size: 1.3vw;
    font-weight: 500;
    list-style: none;
    background-color: #FCDC15;
    color: #272829;
    padding: 5px 5px;
}

/* Progamming Language Section  */

.prog__lang__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 36px 0px;
}

.prog__lang__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px 0px;
}

.lang {
    list-style: circle;
    color: #FCDC15;
    font-size: 1.6vw;
    font-weight: 450;
}

/* Hobbies Section  */

.hobbies__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 36px 0px;
}

.hobbies__container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 50px 0px;
}

.hobby {
    list-style: none;
    color: #FCDC15;
    font-size: 1.6vw;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5vw;
    width: 15vw;
}

.hobby__img {
    height: 3vw;
}


/* ########################################################################################### */


@media(max-width: 1007px){  /* when screen size is below 768px (tablet) */
    .header__container {
        height: 350px;
    }
    
    .header__left__container {
        width: 70%;
    }

    .header__right {
        width: 30%;
    }

    .header__flex__container {
        height: 100px;
        left: 50px;
        padding: 40px;
    }

    .header__name {
        font-size: 40px;
    }
    
    .header__role {
        font-size: 20px;
        letter-spacing: 1px;
    }

    .profile__img__container {
        height: 130px;
        width: 60%;
        padding: 20px;
        padding-left: 10px;
        border: 5px solid #FCDC15;
        border-left: none;
        position: absolute;
        top: 90px;
    }

    .profile__img {
        height: 150px;
        width: 150px;
    }

    /* Content Part  */

    .aside__container {
        width: 30%;
    }
}

/* ################################################################################### */

@media(max-width: 640px){

    .header__container {
        height: 240px;
    }

    .header__right {
        display: none;
    }

    .header__left__container {
        width: 100%;
    }

    .header__flex__container{
        
        left: 10%;
        height: 25%;
        /* top: 100px;  */
        padding: 40px;
        display: flex;
        
    } 

    .header__name {
        font-size: 24px;
        letter-spacing: 1px;
    }

    .header__role {
        font-size: 14px;
    }

    .header__role__decorator {
        display: none;
    }

    .header__details__container{
        gap: 20px;
    }

    .header__flex__container {
        display: flex;
        align-items: center ;
        justify-content: space-between;
    }

    .profile__sm__img {
        display: inline-block;
        height: 100px;
        width: 100px;
        object-fit: cover;
        border-radius: 50%;
    }
}